/*#0C0D12*/

/* <!-- -------------general------------- --> */
*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

p
{
    font-size: 18px;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: black;
    color: white;
}

.container
{
    padding: 20px 10%;
}

/* <!-- -------------navigation menu------------- --> */
header
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(255,255,255,0)), color-stop(60%, #061b2c));
    padding: 10px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100000;
}

header #logo
{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    margin: 5px 20px;
    transition: 0.5s;
}

header #logo:hover
{
    color: rgb(43, 139, 230);
}


header ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

header ul li a
{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

header ul li a::after
{
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

header ul li a:hover::after
{
    width: 100%;
}

/* <!-- -------------home------------- --> */
#home
{
    width: 100%;
    height: 100vh;
    background-image: url(images/background5.png);
    background-size: cover;
    background-position: center;
}

.home-text 
{
    width: 100%;
    height: 100vw;
    margin-top: 220px;
    text-align: center;
} 

.home-text h1
{
    font-size: 200px;
}

.home-text h2
{
    font-size: 50px;
    margin-bottom: 50px;
}

.home-text a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 140px;
    background-color: rgb(43, 139, 230);
    color: white;
    border-radius: 100px;
    border-color: white;
    transition: 0.5s;
}

.home-text a:hover
{
    transform: translateY(-10px);
    color: rgb(43, 139, 230);
    background-color: white;
}

/* <!-- -------------about------------- --> */
#about 
{
    height: 100vh;
    background-color: #041929;
    color: white;
}

/* .row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title
{
    font-size: 66px;
    font-weight: 600;
    color: white;
}

.tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links
{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 650;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(102, 190, 36);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after
{
    width: 100%;
}

.tab-links.active-link::after
{
    width: 100%;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    margin-top: 10px;
    color: rgb(102, 190, 36); 
    font-size: 20px;
    font-weight: 550;
}

.tab-contents
{
    display: none;
}

.tab-contents.active-tab
{
    display: block;
} */

/* <!-- -------------table------------- --> */
#data 
{
    height: 100vh;
    background-color: red;
    color: white;
}

#data-title
{
    text-align: left;
}

/* table 
{
    border: 3px solid lightgrey;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td 
{
    border: 1px solid lightgray;
    padding: 11px;
}

th 
{
    text-align: center;
}

td
{
    font-size: 16px;
} */

/* <!-- -------------format info------------- --> */
#charts 
{
    height: 100vh;
    background-color: blue;
    color: white;
}

/*.format-information
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.format-information div
{
    border-radius: 10px;
    background: rgb(35, 35, 35);
    padding: 30px;
    transition: 0.5s;
}

.format-information div h2
{
    font-size: 33px;
    font-weight: 550;
    margin-bottom: 15px;
}

.format-information div:hover
{
    background: rgb(75, 145, 25);
    transform: translateY(-10px);
    cursor: pointer;
} */

/* <!-- -------------footer------------- --> */
#footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    width: 100%;
    background: rgb(35, 35, 35);
}

#footer .container .row h2

{
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#footer .container .row
{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* <!-- -------footer-col-1------- --> */

.footer-col-1
{
    flex-basis: 30%;
}

.footer-col-1 ul li
{
    list-style: none;
    padding: 5px;
}

.footer-col-1 ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.footer-col-1 ul li a:hover
{
    color: rgb(43, 139, 230);
}

/* <!-- -------footer-col-2------- --> */
.footer-col-2
{
    flex-basis: 30%;
}

.footer-col-2 .search-text
{
    font-size: 18px;
    font-weight: 550;
}

.footer-col-2 .search-block
{
    font-size: 14px;
    text-align: center;
    margin: 10px;
    border-color: white;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

.footer-col-2 .search-button
{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border-color: white;
    transition: 0.5s;
}

.footer-col-2 .search-button:hover
{
    color: rgb(43, 139, 230);
    border-color: rgb(43, 139, 230);
}

/* <!-- -------footer-col-3------- --> */
.footer-col-3
{
    flex-basis: 30%;
}

.footer-col-3 .social-media
{
    margin-top: 20px;
}

.footer-col-3 .social-media i
{
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    transition: 0.5s;
}

.footer-col-3 .social-media i:hover
{
    color: rgb(43, 139, 230);
}