/* <!-- -------------fonts------------- -->
56 h1   Section title     font-weight: 600;
24 h2   Subtitle
16 a/p  Text
*/

/* <!-- -------------colors------------- -->
Text            #ffffff     (white)
Accent          #2b8be6     (light blue)
Secondary       #2b2de6     (blue)
Background      #041929     (dark blue)
*/

/* <!-- ------------scrollbar------------ --> */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2392fb #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar
{
    width: 13px;
}

*::-webkit-scrollbar-track
{
    background: #000000;
}

*::-webkit-scrollbar-thumb
{
    background-color: #2392fb;
}

/* Cursor pointer on hover for scrollbar thumb */
*::-webkit-scrollbar-thumb:hover
{
    cursor: pointer;
}

/* <!-- -------------general------------- --> */
*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: black;
    color: #ffffff;
}

.container
{
    padding: 20px 10%;
}

p
{
    font-size: 16px;
}

.section-title
{
    margin-top: 80px;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
}

.subtitle
{
    margin-top: 4px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

/* <!-- -------------navigation menu------------- --> */
header
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(255,255,255,0)), color-stop(80%, #000000));
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    z-index: 100000;
}

header #logo
{
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    transition: 0.5s;
}

header #logo:hover
{
    color: #2b8be6;
}

header ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

header ul li a
{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

header ul li a::after
{
    content: "";
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

header ul li a:hover::after
{
    width: 100%;
}

/* <!-- -------------home------------- --> */
#home
{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.home-text 
{
    user-select: none;
    margin-top: 220px;
    width: 100%;
    height: 60vw;
    text-align: center;
} 

.home-text h1
{
    font-size: 200px;
}

.home-text h2
{
    font-size: 50px;
    margin-bottom: 50px;
}

.home-text a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 140px;
    background-color: #2b8be6;
    color: #ffffff;
    border-radius: 100px;
    border: 0;
    transition: 0.5s;
}

.home-text a:hover
{
    color: rgb(43, 139, 230);
    background-color: #ffffff;
}

/* <!-- -------------ranking------------- --> */
#ranking 
{
    background-color: black;
    color: #ffffff;
}

.ranking-grid
{
    width: 80vw;
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 20px;
}

#ranking-container
{
    padding-bottom: 0px;
}

#ranking-grid-row-2
{
    margin-top: 0px;
    padding-bottom: -20px;
}

.rank-number
{
    padding-bottom: 10px;
}

.podium
{   
    text-align: center;
    height: 640px;
    width: 280px;
    border-radius: 22px;
    transition: 0.5s;
    background: black;
}

.podium h4
{
    padding-bottom: 10px;
}

.podium p
{
    text-align: left;
}

.podium .dev-name
{
    padding-top: 10px;
    padding-bottom: 2px;
}

.portrait
{
    border-radius: 22px;
    padding: 0;
    height: 400px;
    width: 280px;
}

#portrait-1
{
    background-image: url(images/zdj1.png);
}

#portrait-2
{
    background-image: url(images/zdj2.png);
}

#portrait-3
{
    background-image: url(images/zdj3.png);
}

#portrait-4
{
    background-image: url(images/zdj4.png);
}

#portrait-5
{
    background-image: url(images/zdj5.png);
}

#portrait-6
{
    background-image: url(images/zdj6.png);
}

#portrait-7
{
    background-image: url(images/zdj7.png);
}

#portrait-8
{
    background-image: url(images/zdj8.png);
}

#portrait-9
{
    background-image: url(images/zdj9.png);
}

#portrait-10
{
    background-image: url(images/zdj10.png);
}


/* <!-- -------------ranking-table------------- --> */
#rankingTable
{
    padding-top: 42px;
    background-color: black;
    color: #ffffff;
}

table 
{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th
{
    padding: 11px;
    text-align: center;
    font-size: 16px;
}

table td 
{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 11px;
    text-align: center;
    font-size: 16px;

}

.hidden-row {
    display: none;
}

#buttonSection
{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showRanking
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 140px;
    background-color: #2b8be6;
    color: #ffffff;
    border-radius: 100px;
    border: 0;
    transition: 0.5s;
}

#showRanking:hover
{
    color: rgb(43, 139, 230);
    background-color: #ffffff;
}

/* <!-- -------------charts------------- --> */
#charts 
{
    height: 100vh;
    background-color: black;
    color: white;
}

.charts-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#chart1, #chart2 
{
    background-color: #232323;
    width: 48.5%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
}

/* <!-- -------------about------------- --> */
#about 
{
    height: 100vh;
    color: white;
}

.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}

.grid-item 
{
    background-color: #232323;
    border-radius: 20px;
    padding: 148px;
    font-size: 30px;
    text-align: center;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1
{
    flex-basis: 35%;
}

.about-col-1 img
{
    width: 100%;
    border-radius: 10px;
}

.about-col-2
{
    flex-basis: 60%;
}

.sub-title
{
    font-size: 33px;
    font-weight: 600;
    color: white;
}

.tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links
{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 650;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(102, 190, 36);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after
{
    width: 100%;
}

.tab-links.active-link::after
{
    width: 100%;
}

.tab-contents ul li
{
    font-size: 14px;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    margin-top: 10px;
    color: rgb(102, 190, 36); 
    font-size: 14px;
    font-weight: 550;
}

.tab-contents
{
    display: none;
}

.tab-contents.active-tab
{
    display: block;
}

/* <!-- -------------footer------------- --> */
#footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    width: 100%;
    background: rgb(35, 35, 35);
}

#footer .container .row h2
{
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#footer .container .row
{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* <!-- -------footer-col-1------- --> */

.footer-col-1
{
    flex-basis: 30%;
}

.footer-col-1 ul li
{
    list-style: none;
    padding: 5px;
}

.footer-col-1 ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.footer-col-1 ul li a:hover
{
    color: rgb(43, 139, 230);
}

/* <!-- -------footer-col-2------- --> */
.footer-col-2
{
    flex-basis: 30%;
}

.footer-col-2 .search-text
{
    font-size: 18px;
    font-weight: 550;
}

.footer-col-2 .search-block
{
    font-size: 14px;
    text-align: center;
    margin: 10px;
    border-color: white;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

.footer-col-2 .search-button
{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border-color: white;
    transition: 0.5s;
}

.footer-col-2 .search-button:hover
{
    color: rgb(43, 139, 230);
    border-color: rgb(43, 139, 230);
}

/* <!-- -------footer-col-3------- --> */
.footer-col-3
{
    flex-basis: 30%;
}

.footer-col-3 .social-media
{
    margin-top: 20px;
}

.footer-col-3 .social-media i
{
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    transition: 0.5s;
}

.footer-col-3 .social-media i:hover
{
    color: rgb(43, 139, 230);
}